<template>
  <div>
    <p class="text-gray text-h3 q-mt-lg">
      Enter the OTP you received
    </p>
    <div class="partitioned_input">
      <input
        type="tel"
        @keyup="onNumberEntry(1)"
        v-model="otp_1"
        id="otp_1"
        maxlength="1"
      />
      <input
        type="tel"
        @keyup="onNumberEntry(2)"
        v-model="otp_2"
        id="otp_2"
        maxlength="1"
      />
      <input
        type="tel"
        @keyup="onNumberEntry(3)"
        v-model="otp_3"
        id="otp_3"
        maxlength="1"
      />
      <input
        type="tel"
        @keyup="onNumberEntry(4)"
        v-model="otp_4"
        id="otp_4"
        maxlength="1"
      />
    </div>
  </div>
</template>

<script>
export default {
  data() {
    return {
      otp_1: "",
      otp_2: "",
      otp_3: "",
      otp_4: ""
    };
  },
  props: {
    mobile: {
      type: String
    }
    // clearFields: {
    //   type: Boolean
    // }
  },
  // watch: {
  //   clearFields: function(value) {
  //     if (value) {
  //       this.otp_1 = "";
  //       this.otp_2 = "";
  //       this.otp_3 = "";
  //       this.otp_4 = "";
  //     }
  //   }
  // },
  methods: {
    onNumberEntry(index) {
      this["otp_" + index] = this["otp_" + index].replace(/[^0-9]/g, "");
      if (index !== 4 && this["otp_" + index] !== "") {
        let id = `otp_${index + 1}`;
        let nextInput = document.getElementById(id);
        console.log(nextInput);
        nextInput.focus();
        nextInput.select();
      } else if (index === 4 && this["otp_" + index] !== "") {
        this.$axios
          .post(`/acs/api/otp/verify`, {
            params: {
              mobile_number: this.mobile,
              code: this.otp_1.concat(this.otp_2, this.otp_3, this.otp_4)
            }
          })
          .then(
            success => {
              console.log(success);
              this.$store.dispatch("addToken", success.data.result.token);
              this.$router.push("/test-sign-up/complete");
            },
            error => {
              return this.$q.notify({
                timeout: 5000,
                message: "Otp not correct",
                color: "#EA5575",
                textColor: "white"
              });
            }
          );
      }
    }
  }
};
</script>

<style scoped lang="scss">
.partitioned_input {
  display: flex;
  justify-content: space-evenly;
  direction: ltr #{"/* rtl:ignore */"};
  input {
    width: 49px;
    height: 40px;
    border: unset;
    border-bottom: 1px solid black;
    text-align: center;
    border-radius: 0px;
    font-size: 17px;
  }
}
</style>
