<template>
  <div class="login">
    <router-view />
    <div class="flex justify-center full-height">
      <div class="background-image"></div>
    </div>
    <div class="panel login__form">
      <template v-if="!isOtpSent">
        <form
          @submit.prevent="submit"
          id="login"
        >
          <div
            class="q-mb-md"
            :class="error.mobile && 'has-error'"
          >
            <input
              class="text-input text-h3"
              type="tel"
              required="required"
              :placeholder="$t('form.mobile')"
              @blur="validatePhone"
              v-model="mobile"
            />
            <i class="bar"></i>
          </div>
          <p class="text-gray text-h3 q-mt-md">
            {{ $t("form.continue") }}
          </p>
          <div class="login_buttons q-mt-lg">
            <button class="button button__pink">
              {{ $t("form.signIn") }}
            </button>
            <!-- <router-link to="/sign-up">
            <button class="button button__blue">{{ $t("form.signUp") }}</button>
          </router-link> -->
          </div>
        </form>
      </template>
      <div v-else>
        <otp :mobile="mobile" />
        <button
          @click="submit"
          class="button text-left q-ml-sm q-mt-md bg-transparent text-gray text-h3 1-mt-md"
        >
          Resend OTP
        </button>
      </div>
    </div>
  </div>
</template>

<script>
import textField from "components/utils/textField.vue";
import otp from "components/signIn/otp.vue";

export default {
  data() {
    return {
      isOtpSent: false,
      error: {
        mobile: false
      }
    };
  },
  components: {
    textField,
    otp
  },
  computed: {
    mobile: {
      get() {
        return this.$store.state.User.mobile;
      },
      set(value) {
        this.$store.commit("addMobile", value);
      }
    }
  },
  methods: {
    validatePhone() {
      if (
        !this.mobile.match(
          /^[\+]?[(]?[0-9]{3}[)]?[-\s\.]?[0-9]{3}[-\s\.]?[0-9]{4,6}$/im
        )
      ) {
        this.error.mobile = true;
      } else {
        this.error.mobile = false;
      }
    },
    submit() {
      if (this.error.mobile) {
        return this.$q.notify({
          timeout: 5000,
          message: "Please enter a valid phone number",
          color: "#EA5575",
          textColor: "white"
        });
      }
      this.$axios
        .post(`acs/api/otp/send`, {
          params: {
            mobile_number: this.mobile,
            country: "EG"
          }
        })
        .then(success => {
          console.log(success);
          // this.$store.dispatch("addUser");
          this.isOtpSent = true;
          // this.$router.push("/app/symptoms");
        });
    }
  }
};
</script>

<style lang="scss" scoped>
.background-image {
  background-image: url("~assets/homepage1.png");
  width: 414px;
  height: 351px;
  margin-top: calc(var(--nav-height) + 10px);
}
.login__form {
  justify-self: flex-start;
  height: calc(100vh - 320px);
}
</style>
