<template>
  <div class="bg-lightblue">
    <div class="q-pt-lg q-pb-lg bg-white rounded-borders">
      <section class="section-padding">
        <h3 class="text-normal text-h2 text-pink">{{ $t("home.about") }}</h3>
        <div
          class="text-gray text-h2"
          v-html="about_description"
        ></div>
        <router-link
          to="/sign-up"
          class="full-width"
        >
          <button class="button button__pink button__medium">
            {{ $t("home.book") }}
          </button>
        </router-link>
        <div v-html="visit_cost" class="text-gray text-center text-h2"></div>
      </section>
    </div>
  </div>
</template>

<script>
export default {
  props: {
    about_description: {},
    visit_cost: {}
  }
};
</script>

<style scoped lang="scss"></style>
