<template>
  <div class="bg-dark-blue section-padding">
    <div class="q-py-xl flex justify-center">
      <img
        src="~assets/logo.png"
        alt=""
      />
      <div
        v-html="title"
        class="text-center text-white text-h3 q-mb-sm q-mt-md"
      ></div>
      <router-link
        to="/sign-up"
        class="full-width"
      >
        <button class="button button__pink button__medium">
          {{ $t("home.book") }}
        </button>
      </router-link>
      <div
        v-html="visit_cost"
        id="text"
        class="text-white text-h2"
      ></div>
    </div>
  </div>
</template>

<script>
export default {
  props: {
    title: {},
    price: {
      type: String
    },
    visit_cost: {}
  }
};
</script>

<style scoped lang="scss">
p {
  color: white;
}
</style>
