<template>
  <div class="rounded-borders q-pt-lg bg-white q-pb-lg">
    <div class="section-padding">
      <h2 class="text-pink text-normal text-h3">{{$t('home.payment.title')}}</h2>
      <div class="q-my-lg row no-wrap">
        <div
          class="col-4 flex justify-center"
          v-for="(payment, index) in $t('home.payment.options')"
        >
          <!-- For some reason it wouldn't resolve the images if given as var payment.image -->
          <img
            v-if="index === 0"
            src="~assets/landing1.png"
            alt=""
          />
          <img
            v-if="index === 1"
            src="~assets/landing3.svg"
            alt=""
          />
          <img
            v-if="index === 2"
            src="~assets/landing2.svg"
            alt=""
          />

          <h3 class="q-my-xs text-gray text-center text-h3">{{payment.title}}</h3>
        </div>
      </div>
      <router-link to="/common-illness">
        <div class="rounded-panel q-mb-lg flex no-wrap">
          <div>
            <h3 class="text-h2 text-pink q-my-xs">{{$t('home.explore')}}</h3>
            <p class="text-h4 text-gray q-mb-xs">
              {{$t('home.exploreSub')}}
            </p>
          </div>
          <div>
            <font-awesome-icon
              class="text-pink svg"
              :icon="$i18n.locale === 'ar' ? 'chevron-left' : 'chevron-right'"
            />
          </div>
        </div>
      </router-link>
      <router-link to="/our-doctors">
        <div class="rounded-panel flex no-wrap">
          <div>
            <h3 class="text-h2 text-pink q-my-xs">{{$t('home.meet')}}</h3>
            <p class="text-h4 text-gray q-mb-xs">
              {{$t('home.meetSub')}}
            </p>
          </div>
          <div>
            <font-awesome-icon
              class="text-pink svg"
              :icon="$i18n.locale === 'ar' ? 'chevron-left' : 'chevron-right'"
            />
          </div>
        </div>
      </router-link>
    </div>
  </div>
</template>

<style scoped lang="scss">
.rounded-panel {
  div {
    &:first-of-type {
      width: 70%;
    }
    &:last-of-type {
      margin-left: auto;
      display: flex;
      align-items: center;
    }
  }
}
.text-h2,
h3 {
  font-weight: normal;
}
img {
  height: 80px;
  width: auto;
}
</style>
