<template>
  <div class="bg-white">
    <div class="q-pt-lg q-pb-lg bg-lightblue rounded-borders">
      <section class="section-padding">
        <h2 class="text-pink text-normal text-h3">
          {{ $t("home.discount") }}
        </h2>
        <h2 class="text-gray text-bold text-h3">
          {{ packages_title }}
        </h2>
        <plan
          class="q-mb-lg"
          v-for="(plan, index) in packages"
          :key="index"
          :name="plan.value.name"
          :price="plan.value.price"
          :color="plan.value.color"
          :info="plan.value.info"
          :currency="currency"
        ></plan>
        <p class="text-pink text-h2">{{ $t("home.contact") }}</p>
        <p class="text-gray text-h3">{{ $t("home.contactSub") }}</p>
        <a :href="'https://wa.me/2' + whatsapp" target="_blank">
          <button class="button button__green button__medium q-pb-none">
            {{ $t("home.whatsapp") }}
          </button>
        </a>
      </section>
    </div>
  </div>
</template>

<script>
import plan from "components/landing/plan";

export default {
  components: {
    plan
  },
  props: {
    packages: {
      type: Array,
      default: () => []
    },
    packages_title: {
      type: String,
      default: ""
    },
    currency: {
      type: String,
      default: ""
    },
    whatsapp: {
      type: String,
      default: ""
    }
  }
};
</script>
