<template>
  <accordion>
    <template v-slot:head>
      <div
        @click="isAccordionOpen = !isAccordionOpen"
        class="rounded-panel_animated flex no-wrap align-center"
        :class="isAccordionOpen && 'is-open'"
        :style="{ border: `1px solid ${color}` }"
      >
        <div class="circle" :style="{ border: `10px solid ${color}` }"></div>
        <p class="text-h2 no-margin-bottom q-mb-none text-gray text-bold">
          {{ name }}
        </p>
        <div
          class="price q-ml-auto q-mr-sm text-bold text-h2"
          :style="{ color }"
        >
          <span class="text-h4 q-pr-xs">{{ currency }}</span>
          <span class="pull-right">{{ price }}</span>
        </div>
        <div
          class="arrow"
          :style="{ 'background-color': color, border: `1px solid ${color}` }"
        >
          <font-awesome-icon icon="chevron-down" />
        </div>
      </div>
    </template>
    <template v-slot:body>
      <div
        class="rounded-panel_body bg-white"
        :style="{ border: `1px solid ${color}` }"
      >
        <template v-for="info_point in info">
          <div class="flex" :key="'test' + info_point">
            <div>
              {{ info_point.value.item }}
            </div>
            <div class="q-ml-auto text-bold" :style="{ color }">
              {{ info_point.value.value }}
            </div>
          </div>
        </template>
      </div>
    </template>
  </accordion>
</template>

<script>
export default {
  data() {
    return {
      isAccordionOpen: false
    };
  },
  props: {
    name: {
      type: String
    },
    price: {
      type: String
    },
    currency: {
      type: String
    },
    color: {
      type: String
    },
    info: {
      type: Array
    }
  }
};
</script>

<style scoped lang="scss">
.circle {
  height: 30px;
  width: 30px;
  border-radius: 50%;
  margin-right: 7px;
}
.arrow {
  width: 46px;
  height: 46px;
  background: var(--pink);
  border: 1px solid var(--pink);
  box-sizing: border-box;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  svg {
    width: 20px;
    height: 20px;
    color: var(--white);
  }
}
.is-open {
  border-bottom: 1px solid var(--pink);
}

.pull-right {
  float: right #{"/* rtl:ignore */"};
  margin-right: 1px;
}
</style>
