<template>
  <div>
    <div id="map"></div>
    <div id="infowindow-content">
      <img src="" width="16" height="16" id="place-icon" />
      <span id="place-name" class="title"></span><br />
      <span id="place-address"></span>
    </div>
  </div>
</template>

<script>
export default {
  mounted() {
    // this.$q.notify({
    //   timeout: 5000,
    //   message: "Drag pin to set exact location.",
    //   position: "top",
    //   color: "#EA5575",
    //   textColor: "white"
    // });

    let script = document.createElement("script");
    script.src =
      "https://maps.googleapis.com/maps/api/js?key=AIzaSyDkgD_n0K6xJjWsqS-eijHV72jagob_5r8&callback=initMap&libraries=places";
    script.defer = true;
    script.async = true;
    let map, infoWindow, initialMarker;
    window.initMap = () => {
      // map
      map = new google.maps.Map(
        document.getElementById("map"),
        this.mapOptions
      );

      // autocomplete
      var input = document.getElementById("searchTextField");
      var options = {};
      let autocomplete = new google.maps.places.Autocomplete(input, options);
      autocomplete.bindTo("bounds", map);

      var geocoder = new google.maps.Geocoder();
      let infowindow = new google.maps.InfoWindow();

      autocomplete.setFields([
        "address_components",
        "geometry",
        "icon",
        "name"
      ]);

      var marker = new google.maps.Marker({
        map: map,
        draggable: true,
        anchorPoint: new google.maps.Point(0, -29)
      });
      this.markers.push(marker);
      google.maps.event.addListener(marker, "dragend", event => {
        this.onMarkerDrag(event, marker, map, infowindow);
      });

      autocomplete.addListener("place_changed", () => {
        infowindow.close();
        var place = autocomplete.getPlace();
        if (!place.geometry) {
          // User entered the name of a Place that was not suggested and
          // pressed the Enter key, or the Place Details request failed.
          window.alert("No details available for input: '" + place.name + "'");
          return;
        }

        // If the place has a geometry, then present it on a map.
        if (place.geometry.viewport) {
          map.fitBounds(place.geometry.viewport);
        } else {
          map.setCenter(place.geometry.location);
          map.setZoom(17);
        }
        this.geocodeLatLng(geocoder, map, infowindow, {
          lat: place.geometry.location.lat(),
          lng: place.geometry.location.lng()
        });
      });

      // Try HTML5 geolocation.
      if (navigator.geolocation) {
        navigator.geolocation.getCurrentPosition(
          position => {
            let pos = {
              lat: position.coords.latitude,
              lng: position.coords.longitude
            };

            map.setCenter(pos);
            initialMarker = new google.maps.Marker({
              position: pos,
              map: map,
              animation: google.maps.Animation.DROP,
              draggable: true
            });
            this.markers.push(initialMarker);
            this.geocodeLatLng(
              geocoder,
              map,
              infowindow,
              pos,
              true,
              initialMarker
            );
            google.maps.event.addListener(initialMarker, "dragend", event => {
              this.onMarkerDrag(event, initialMarker, map, infowindow);
            });
          },
          () => {
            handleLocationError(true, infoWindow, {
              lat: -30.0045,
              lng: 31.2511
            });
          }
        );
      } else {
        // Browser doesn't support Geolocation
        this.handleLocationError(false, infoWindow, {
          lat: -30.0045,
          lng: 31.2511
        });
      }
    };

    // Append the 'script' element to 'head'
    document.head.appendChild(script);
  },
  data() {
    return {
      mymap: null,
      myMarker: null,
      markers: [],
      chosenLocation: null,
      mapOptions: {
        center: this.position,
        zoom: 17,
        mapTypeControl: false,
        streetViewControl: false,
        rotateControl: false,
        zoomControl: false,
        fullscreenControl: false
      },
      position: { lat: -34.397, lng: 150.644 },
      markerOptions: { draggable: true, label: "hello" }
    };
  },
  methods: {
    handleLocationError(browserHasGeolocation, infoWindow, pos) {
      infoWindow.setPosition(pos);
      infoWindow.setContent(
        browserHasGeolocation
          ? "Error: The Geolocation service failed."
          : "Error: Your browser doesn't support geolocation."
      );
      infoWindow.open(map);
    },
    onMarkerDrag(event, prevMarker, map, infowindow) {
      var geocoder = new google.maps.Geocoder();
      let position = { lat: event.latLng.lat(), lng: event.latLng.lng() };
      this.geocodeLatLng(geocoder, map, infowindow, position);
    },
    geocodeLatLng(geocoder, map, infowindow, pos, initialLoad, initialMarker) {
      var latlng = {
        lat: pos.lat,
        lng: pos.lng
      };
      geocoder.geocode({ location: latlng }, (results, status) => {
        if (status === "OK") {
          if (results[0]) {
            this.chosenLocation = `https://maps.google.com/?q=${pos.lat},${pos.lng}`;
            this.$store.dispatch("addLocation", this.chosenLocation);
            if (initialLoad) {
              infowindow.setContent(results[0].formatted_address);
              infowindow.open(map, initialMarker);
              return;
            }
            map.setZoom(17);
            var marker = new google.maps.Marker({
              position: latlng,
              map: map,
              draggable: true
            });
            this.markers.map(marker => {
              marker.setVisible(false);
            });
            this.markers.push(marker);
            google.maps.event.addListener(marker, "dragend", event => {
              this.onMarkerDrag(event, marker, map, infowindow);
            });
            infowindow.setContent(results[0].formatted_address);
            infowindow.open(map, marker);
          } else {
            window.alert("No results found");
          }
        } else {
          window.alert("Geocoder failed due to: " + status);
        }
      });
    }
  },
  destroyed() {
    window.google = {};
  }
};
</script>

<style scoped lang="scss">
#map {
  height: 100vh;
}
</style>
