<template>
  <div>
    <div class="rounded-panel">
      <div class="form-group">
        <input
          class="input"
          id="searchTextField"
          ref="searchTextField"
          type="text"
          :placeholder="$t('app.location')"
          required="required"
        />
        <label for="input" class="control-label"></label><i class="bar"></i>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  mounted() {
    this.$refs.searchTextField.focus();
  }
};
</script>

<style scoped lang="scss">
input {
  width: 100%;
  outline: 0px;
  border: 0px;
  padding: 10px 0px;
}
.input {
  font-size: 16px !important;
}
.form-group .input:focus,
.form-group .input:focus ~ .control-label {
  font-size: unset;
  color: var(--gray);
  top: unset;
  left: 0;
}
</style>
