<template>
  <div class="rounded-panel bg-white q-mb-lg q-mt-lg">
    <div class="flex column q-ml-sm">
      <span class="text-h2 text-pink">{{ $store.state.User.name }}</span>
      <span class="text-gray text-h3 q-mb-sm">{{
        $store.state.User.mobile
      }}</span>
      <span class="text-gray text-h3 q-mb-md">{{
        $store.state.Request.address
      }}</span>
      <span class="text-gray text-h3"><b>{{$t('app.checkoutMsg')}}</b></span>
    </div>
  </div>
</template>

<script>
export default {};
</script>

<style></style>
