<template>
  <div>
    <div
      v-if="!isAssigned"
      class="rounded-panel"
    >
      <div class="flex no-wrap align-center q-py-sm">
        <p class="text-h3 q-mr-md q-mb-none text-gray">
          Triage team will call you shortly
        </p>
        <div class="q-ml-auto">
          <img
            src="~assets/completed.svg"
            alt=""
          />
        </div>
      </div>
    </div>
    <template v-else>
      <doctor />
    </template>
  </div>
</template>

<script>
import doctor from "components/utils/doctor";

export default {
  components: {
    doctor
  },
  data() {
    return {
      isAssigned: false
    };
  },
  mounted() {
    setTimeout(() => {
      this.isAssigned = true;
    }, 2000);
  }
};
</script>

<style scoped lang="scss">
</style>
