<template>
  <div class="q-my-xl">
    <!-- TODO: https://stackoverflow.com/questions/41698357/how-to-partition-input-field-to-appear-as-separate-input-fields-on-screen -->
    <h1 class="text-h2 text-gray">{{ $t("app.address") }}</h1>
    <input
      v-model="address"
      class="text-input text-h3"
      type="text"
      required
      :placeholder="$t('app.addressPlaceholder')"
    />
    <i class="bar"></i>
    <!-- <h2 class="text-h2 text-gray  q-mt-lg q-mb-xs">Add your promo code</h2>
      <div class="number q-mb-lg">
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
      </div> -->
  </div>
</template>

<script>
export default {
  computed: {
    address: {
      get() {
        return this.$store.state.Request.address;
      },
      set(value) {
        this.$store.commit("addAddress", value);
      }
    }
  }
};
</script>

<style lang="scss" scoped>
.number {
  display: flex;
  justify-content: space-between;
  span {
    height: 30px;
    border-bottom: 1px solid var(--pink);
    width: 15%;
    // background-color: var(--pink);
  }
}
</style>
