<template>
  <nav class="nav">
    <button
      @click="changeLocale"
      class="text-h3 rounded-borders bg-pink text-white text-bold"
    >
      {{ $t("lang") }}
    </button>

    <!-- add link for SEO -->
    <a class="sr-only" :href="`/${$i18n.locale === 'ar' ? '/' : 'ar'}`">
      {{ $t("lang") }}
    </a>
  </nav>
</template>

<script>
import languages from "quasar/lang/index.json";
const appLanguages = languages.filter(lang =>
  ["ar", "en-us"].includes(lang.isoName)
);

export default {
  methods: {
    changeLocale() {
      //   if (this.$i18n.locale === "ar") {
      //     this.$i18n.locale = "en-us";
      //     this.lang = "en-us";
      //     // this.$router.push("/");
      //   } else {
      //     this.$i18n.locale = "ar";
      //     this.lang = "ar";
      //     // this.$router.push("/ar");
      //   }
    }
  },
  data() {
    return {
      lang: this.$q.lang.isoName
    };
  },
  created() {
    // this.langOptions = appLanguages.map(lang => ({
    //   label: lang.nativeName,
    //   value: lang.isoName
    // }));
    console.log(this.$q.lang);
  },
  watch: {
    lang(lang) {
      // dynamic import, so loading on demand only
      import("quasar/lang/" + lang).then(lang => {
        this.$q.lang.set(lang.default);
      });
    }
  }
};
</script>

<style scoped lang="scss">
button {
  margin-top: 25px;
  margin-left: 30px;
  border-radius: 30px;
  padding: 4px 30px;
}
.nav {
  // position: fixed;
  // top: 0px;
  // right: 0px;
  // width: 100%;
  position: absolute;
  top: 0px;
  background: transparent;
}
</style>
