<template>
  <div class="landing">
    <landing
      :title="title"
      :price="price"
      :visit_cost="visit_cost"
    />
    <payment />
    <plans
      :packages="packages"
      :packages_title="packages_title"
      :whatsapp="whatsapp"
      :currency="currency"
    />
    <about
      :about_description="about_description"
      :visit_cost="visit_cost"
    />
  </div>
</template>

<script>
import about from "components/landing/about";
import plans from "components/landing/plans";
import landing from "components/landing/landing";
import payment from "components/landing/payment";
import { mapState } from "vuex";
import Loading from "../api/loading";

export default {
  components: {
    payment,
    landing,
    plans,
    about
  },
  preFetch({ store }) {
    // Loading.show();
    // return store.dispatch("getHomepage").then(success => {
    //   Loading.hide();
    // });
  },
  created() {
    this.title =
      this.$i18n.locale === "ar" ? this.homepage.title_ar : this.homepage.title;
    this.price = this.homepage.price;
    this.packages_title =
      this.$i18n.locale === "ar"
        ? this.homepage.packages_title_ar
        : this.homepage.packages_title;
    this.visit_cost =
      this.$i18n.locale === "ar"
        ? this.homepage.visit_cost_ar
        : this.homepage.visit_cost;
    this.currency =
      this.$i18n.locale === "ar"
        ? this.homepage.currency_ar
        : this.homepage.currency;
    this.whatsapp = this.homepage.whatsapp;
    this.packages =
      this.$i18n.locale === "ar"
        ? this.homepage.packages_ar
        : this.homepage.packages;
    this.about_description =
      this.$i18n.locale === "ar"
        ? this.homepage.about_description_ar
        : this.homepage.about_description;
  },
  data() {
    return {
      title: "",
      price: "",
      packages_title: "",
      packages: [],
      currency: "",
      whatsapp: "",
      visit_cost: "",
      about_description: ""
    };
  },
  computed: {
    ...mapState({
      homepage: state => state.pages.homepage
    })
  },
  watch: {
    "$i18n.locale": function(locale) {
      console.log(locale);
      if (locale === "ar") {
        this.title = this.homepage.title_ar;
        this.packages_title = this.homepage.packages_title_ar;
        this.visit_cost = this.homepage.visit_cost_ar;
        this.currency = this.homepage.currency_ar;
        this.packages = this.homepage.packages_ar;
        this.about_description = this.homepage.about_description_ar;
      } else {
        this.title = this.homepage.title;
        this.currency = this.homepage.currency;
        this.visit_cost = this.homepage.visit_cost;
        this.packages_title = this.homepage.packages_title;
        this.packages = this.homepage.packages;
        this.about_description = this.homepage.about_description;
      }
    }
  }
};
</script>

<style scoped lang="scss">
.landing {
  background-color: var(--dark-blue);
}
</style>
