// app global css in SCSS form
body {
  --blue: #349AC8;
  --gray: #545454;
  --pink: #EA5575;
  --dark-blue: #292F6D;
  --lightblue: #D8F0F8;
  --green: #00A500;
  --white: white;
  --nav-height: 57px;
  --z-index-1: 10;
  --z-index-2: 100;
  --z-index-3: 1000;
  --button-border-radius: 30px;
  // background: var(--blue);
  color: var(--text-gray);
  scroll-behavior: smooth;
}

html {
  height: 100%;
}

* {
  scroll-behavior: smooth;
}

[dir="rtl"] {
  * {
    font-family: 'Cairo', sans-serif;
  }
}

* {
  font-family: 'Roboto', sans-serif;
}

.z-index-1 {
  z-index: var(--z-index-1);
}

.z-index-2 {
  z-index: var(--z-index-2);
}

.z-index-3 {
  z-index: var(--z-index-3);
}

button {
  background-color: #fff;
  border-color: unset;
  border-width: 0px;
  cursor: pointer;
  justify-content: center;
  text-align: center;
  white-space: nowrap;

  &:focus {
    outline: 0;
  }
}

.space-between {
  justify-content: space-between;
}

.flex-grow {
  flex: 1;
}

.button {
  display: block;
  width: 100%;
  border-radius: var(--button-border-radius);
  padding: 10px 0px;
  font-size: 16px;
  margin: 20px 0px;
  color: var(--white);
  font-weight: bold;

  &__medium {
    font-size: 18px;
  }

  &__green {
    background-color: var(--green);
  }

  &__pink {
    background-color: var(--pink);
  }

  &__blue {
    background-color: var(--blue);
  }
}


.panel {
  position: absolute;
  padding: 0px 30px;
  background-color: var(--white);
  z-index: var(--z-index-1);
  bottom: 0px;
  width: 100%;
  border-radius: 40px 40px 0px 0px;
  padding-top: 30px;
}

.svg.svg {
  width: 35px;
  height: 35px;
}

.page {
  min-height: 100vh;
}

.modal {
  width: 100%;
  position: fixed;
  height: 100vh;
  top: 0px;
  right: 0px;
  overflow-y: scroll;
  transition: 1s ease all;
  z-index: var(--z-index-3);
}

.rounded-panel {
  background: var(--white);
  box-shadow: 0px 6px 15px rgba(0, 0, 0, 0.1);
  border-radius: 40px;
  padding: 14px 29px;

  &_small {
    @extend .rounded-panel;
    padding: 5px 20px;
  }

  &_body {
    padding: 20px 30px;
    border-bottom-right-radius: 40px;
    border-bottom-left-radius: 40px;
  }

  &_animated {
    @extend .rounded-panel;
    transition: 0.3s ease all;
    transition-delay: 0.25s;

    &.is-open {
      border-bottom-right-radius: 0px;
      border-bottom-left-radius: 0px;
      transition: 0.3s ease all;

      .arrow {
        svg {
          transform: rotate(-180deg);
        }
      }
    }
  }

}

a {
  text-decoration: unset;
}

.background-image {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.sr-only {
  border: none;
  clip: rect(0, 0, 0, 0);
  height: 0.01em;
  overflow: hidden;
  padding: 0;
  position: absolute;
  white-space: nowrap;
  width: 0.01em;
}

.text-blue {
  color: var(--blue);
}

.text-gray {
  color: var(--gray);
}

.text-normal {
  font-weight: normal;
}

.text-pink {
  color: var(--pink) !important;
}

.text-dark-blue {
  color: var(--dark-blue);
}

.text-lightblue {
  color: var(--lightblue) !important;
}

.is-accordion {
  max-height: 0px;
  overflow: hidden;
  transition: 0.3s ease all;
}


.align-center {
  align-items: center;
}

.text-white {
  color: var(--white);
}

.bg-blue {
  background-color: var(--blue);
}

.bg-gray {
  background-color: var(--gray);
}

.bg-pink {
  background-color: var(--pink) !important;
}

.bg-dark-blue {
  background-color: var(--dark-blue);
}

.bg-lightblue {
  background-color: var(--lightblue);
}

.bg-white {
  background-color: var(--white);
}

.section-padding {
  padding: 0px 40px;

  @media screen and (max-width: 400px) {
    padding: 0px 20px;
  }
}

.section-margin {
  margin: 0px 40px;
}

.relative {
  position: relative;
}

.q-notification {
  border-radius: 0px !important;
}

// .input 

// .form-group {
//   position: relative;
// }

// .form-group .input {
//   height: 1.9rem;
// }

// .form-group .control-label {
//   position: absolute;
//   top: 0.25rem;
//   pointer-events: none;
//   padding-left: 0.125rem;
//   z-index: 1;
//   color: #b3b3b3;
//   font-size: 17px;
//   font-weight: normal;
//   -webkit-transition: all 0.28s ease;
//   transition: all 0.28s ease;
// }

// .form-group .bar {
//   position: relative;
//   border-bottom: 0.0625rem solid #999;
//   display: block;
// }

// .form-group .bar::before {
//   content: '';
//   height: 0.125rem;
//   width: 0;
//   left: 50%;
//   bottom: -0.0625rem;
//   position: absolute;
//   background: #337ab7;
//   -webkit-transition: left 0.28s ease, width 0.28s ease;
//   transition: left 0.28s ease, width 0.28s ease;
//   z-index: 2;
// }

// .form-group .input {
//   display: block;
//   background: none;
//   padding: 0.125rem 0.125rem 0.0625rem;
//   font-size: 17px;
//   border-width: 0;
//   border-color: transparent;
//   line-height: 1.9;
//   width: 100%;
//   color: transparent;
//   -webkit-transition: all 0.28s ease;
//   transition: all 0.28s ease;
//   box-shadow: none;
// }

// .form-group .input:focus,
// .form-group .input:valid,
// .form-group .input:focus~.control-label,
// .form-group .input:valid~.control-label {
//   font-size: 16px;
//   color: gray;
//   top: -1rem;
//   left: 0;
// }

// .form-group .input:focus {
//   outline: none;
// }

// .form-group .input:focus~.control-label {
//   color: #337ab7;
// }

// .form-group .input:focus~.bar::before {
//   width: 100%;
//   left: 0;
// }

// .has-error .control-label.control-label {
//   color: #d9534f;
// }

// .has-error .bar::before {
//   background: #d9534f;
//   left: 0;
//   width: 100%;
// }

.text-input {
  width: 100%;
  outline: 0px;
  border: 0px;
  border-radius: 0px;
  border-bottom: 1px solid #999;
  padding-bottom: 4px;
  background-color: transparent;
}

.bar {
  position: relative;
  border-bottom: 0.0625rem solid #999;
  display: block;
}

.bar::before {
  content: "";
  height: 0.125rem;
  width: 0;
  left: 50%;
  bottom: -0.0625rem;
  position: absolute;
  background: #337ab7;
  -webkit-transition: left 0.28s ease, width 0.28s ease;
  transition: left 0.28s ease, width 0.28s ease;
  z-index: 2;
}

.text-input:focus~.bar::before {
  width: 100%;
  left: 0;
}

.has-error .bar::before {
  background: #d9534f;
  left: 0;
  width: 100%;
}

.has-error {
  .text-input {
    color: #d9534f;
  }
}


.styled-checkbox {
  position: absolute; // take it out of document flow
  opacity: 0; // hide it

  &+label {
    position: relative;
    cursor: pointer;
    padding: 0;
    display: flex;
    align-items: center;
  }

  // Box.
  &+label:before {
    content: "";
    margin-left: 10px;
    display: inline-block;
    width: 28px;
    height: 28px;
    position: relative;
    // top: 7px;
    box-shadow: 0 2px 1px 0 rgba(0, 0, 0, 0.03);
    border: 1px solid #e4e5ec;
    border-radius: 10px;
    background: white;
    margin-right: 10px;
  }

  // Box checked
  &:checked+label:before {
    background: var(--blue);
    border-radius: 10px;

    content: "";
  }

  // Disabled state label.
  &:disabled+label {
    color: #b8b8b8;
    cursor: auto;
  }

  // Disabled box.
  &:disabled+label:before {
    box-shadow: none;
    background: #ddd;
  }
}
