// Quasar SCSS (& Sass) Variables
// --------------------------------------------------
// To customize the look and feel of this app, you can override
// the Sass/SCSS variables found in Quasar's source Sass/SCSS files.

// Check documentation for full list of Quasar variables

// Your own variables (that are declared here) and Quasar's own
// ones will be available out of the box in your .vue/.scss/.sass files

// It's highly recommended to change the default colors
// to match your app's branding.
// Tip: Use the "Theme Builder" on Quasar's documentation website.

$h1: (size: 22px);
$h2: (size: 18px);
$h3: (size: 16px);
$h4: (size: 12px);
$generic-border-radius: 40px 40px 0px 0px;
$shadow-1: 0px 6px 15px rgba(0, 0, 0, 0.1);
