<template>
  <div class="q-pb-lg">
    <!-- <button class="button button__blue" @click="isModalOpen = true">
      Add Family Member
    </button> -->
    <router-link to="/app/location">
      <button class="button button__pink q-mb-none">
        {{ $t("app.request") }}
      </button>
    </router-link>
    <add-family
      v-if="isModalOpen"
      class="modal"
      @closeModal="isModalOpen = false"
    ></add-family>
  </div>
</template>

<script>
import addFamily from "components/utils/addFamily";

export default {
  components: {
    addFamily
  },
  data() {
    return {
      isModalOpen: false
    };
  }
};
</script>

<style scoped lang="scss"></style>
