<template>
  <div>
    <div
      class="rounded-panel relative q-mb-md"
      :class="isPreviewAvailable && 'activate'"
    >
      <input
        @change="readURL"
        type="file"
        id="img"
        ref="imageLoader"
        name="img"
        accept="image/*"
      />
      <div class="flex no-wrap align-center">
        <div>
          <p class="text-h2 q-mb-none text-gray">
            {{ $t("app.symptoms.upload") }}
          </p>
          <p class="text-pink text-h3 q-mb-none">
            {{ $t("app.symptoms.uploadSub") }}
          </p>
        </div>
        <button class="q-ml-auto ">
          <img
            class="camera"
            src="~assets/camera.svg"
            alt=""
          />
        </button>
      </div>

      <div
        class="preview-image"
        :class="isPreviewAvailable && 'activate'"
      >
        <img
          ref="preview"
          src="#"
          alt=""
        />
        <font-awesome-icon
          class="text-pink svg"
          icon="trash"
          @click="clearImage"
        />
      </div>
    </div>
  </div>
</template>

<script>
export default {
  data() {
    return {
      isPreviewAvailable: false
    };
  },
  methods: {
    readURL(event) {
      if (event.target.files && event.target.files[0]) {
        var reader = new FileReader();

        reader.onload = e => {
          this.isPreviewAvailable = true;
          this.$refs.preview.src = e.target.result;
        };

        reader.readAsDataURL(event.target.files[0]); // convert to base64 string
        this.$emit("upload", event.target.files[0]);
      }
    },
    // submit(file) {
    //   let formData = new FormData();

    //   formData.append("files[]", file);
    //   this.$axios.post(
    //     `/cockpit/addAssets?token=1ed9556112a43cd1893dff05936ec2`,
    //     formData,
    //     {
    //       headers: { "Content-Type": "multipart/form-data" },
    //       onUploadProgress: progressEvent => {
    //         let percentCompleted = Math.floor(
    //           (progressEvent.loaded * 100) / progressEvent.total
    //         );
    //         console.log(percentCompleted);
    //         // do whatever you like with the percentage complete
    //         // maybe dispatch an action that will update a progress bar or something
    //       }
    //     }
    //   );
    //   // .then(
    //   //   uploadedFile => {
    //   //     console.log(uploadedFile.data.assets[0].path);
    //   //     this.$axios
    //   //       .post(
    //   //         `/collections/save/jobs?token=1ed9556112a43cd1893dff05936ec2`,
    //   //         {
    //   //           data: {
    //   //             name: this.name,
    //   //             job: this.job.value.title,
    //   //             mobile: this.mobile,
    //   //             email: this.email,
    //   //             currentCompany: this.currentCompany,
    //   //             currentPosition: this.currentPosition,
    //   //             qualifications: this.qualifications,
    //   //             leadership_style: this.leadership_style,
    //   //             achievements: this.achievements,
    //   //             cv: `https://karma-cms.nbhood.com/storage/uploads${uploadedFile.data.assets[0].path}`
    //   //           }
    //   //         }
    //   //       )
    //   //       .then(
    //   //         success => {
    //   //           this.success = true;
    //   //           this.$axios.post(
    //   //             `/forms/submit/careers?token=1ed9556112a43cd1893dff05936ec2`,
    //   //             {
    //   //               form: {
    //   //                 name: this.name,
    //   //                 job: this.job.value.title,
    //   //                 cv: `https://karma-cms.nbhood.com/storage/uploads${uploadedFile.data.assets[0].path}`
    //   //               }
    //   //             }
    //   //           );
    //   //         },
    //   //         error => console.log(error)
    //   //       );
    //   //   },
    //   //   error => console.log(error)
    //   // );
    // },
    clearImage() {
      console.log(this.$refs.imageLoader.value);
      this.$refs.imageLoader.value = null;
      this.$refs.preview.src = "#";
      this.isPreviewAvailable = false;
      this.$emit("deleteImage");
    }
  }
};
</script>

<style scoped lang="scss">
.camera {
  width: 30px;
  height: auto;
}
input[type="file"] {
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  opacity: 0;
  z-index: 9;
}

.activate {
  input[type="file"] {
    bottom: 80px;
  }
}

.rounded-panel {
  transition: 1s ease all;
}
.preview-image {
  position: absolute;
  img {
    width: 50%;
    bottom: 0px;
    height: 0px;
  }
  svg {
    height: 1px;
    position: absolute;
    right: 0px;
    bottom: 0px;
    z-index: 20;
  }
  &.activate {
    margin-top: 15px;
    position: relative;
    height: auto;
    svg {
      padding: 4px;
      height: 25px;
    }
    img {
      height: auto;
    }
    + button {
      opacity: 1;
      height: auto;
      width: 60%;
      padding: 10px 0px;
      margin: 10px auto;
    }
  }
}
</style>
