<template>
  <div>
    <h2 class="text-h1 text-gray q-mb-xs">{{ $t("app.symptoms.more") }}</h2>
    <p class="text-h3 text-gray">{{ $t("app.symptoms.optional") }}</p>
    <image-upload />
    <voice-record />
  </div>
</template>

<script>
import imageUpload from "components/symptoms/imageUpload";
import voiceRecord from "components/symptoms/voiceRecord";

export default {
  components: {
    voiceRecord,
    imageUpload
  }
};
</script>
