<template>
  <div
    class="rounded-panel q-mb-md"
    :class="recordings && 'activate'"
  >
    <div
      class="flex no-wrap align-center"
      @click="startRecording"
    >
      <div>
        <p class="text-h2 q-mb-none text-gray">
          {{ $t("app.symptoms.record") }}
        </p>
        <p class="text-pink text-h3 q-mb-none">
          {{ $t("app.symptoms.recordFeel") }}
        </p>
      </div>
      <button class="q-ml-auto ">
        <img
          v-if="!recordingInProgress"
          src="~assets/mic.svg"
          alt=""
        />
        <div
          class="recording"
          v-else
        ></div>
      </button>
    </div>
    <div
      class="relative"
      v-if="recordings"
    >
      <audio
        :src="recordings.blobUrl"
        :type="recordings.mimeType"
        controls="true"
        id="audio"
        ref="recording"
      />
      <!-- <q-slider
          v-model="recordingDuration"
          :step="1"
        > -->

      <!-- </q-slider> -->
      <font-awesome-icon
        class="text-pink svg"
        icon="trash"
        @click="deleteRecording"
      />
    </div>
  </div>
</template>

<script>
import RecorderService from "../../api/shared/RecorderService";
import utils from "../../api/shared/Utils";
export default {
  name: "Test1",
  filters: {
    fileSizeToHumanSize(val) {
      return utils.humanFileSize(val, true);
    }
  },
  data() {
    return {
      enableEchoCancellation: true,
      recordingInProgress: false,
      supportedMimeTypes: [],
      recordings: null,
      recordingDuration: 0,
      micGainSlider: 100,
      micGain: 1.0,
      cleanupWhenFinished: true,
      addDynamicsCompressor: false
    };
  },
  mounted() {
    this.recorderSrvc = new RecorderService();
    this.recorderSrvc.em.addEventListener("recording", evt =>
      this.onNewRecording(evt)
    );
  },
  watch: {
    cleanupWhenFinished(val) {
      this.recorderSrvc.config.stopTracksAndCloseCtxWhenFinished = this.cleanupWhenFinished;
    },
    micGainSlider() {
      this.micGain = (this.micGainSlider * 0.01).toFixed(2);
      this.recorderSrvc.setMicGain(this.micGain);
    }
  },
  methods: {
    startRecording() {
      if (this.recordingInProgress) {
        this.recorderSrvc.stopRecording();
        this.recordingInProgress = false;
        this.recordingDuration = this.$refs.recording;
        return;
      }
      this.recorderSrvc.config.stopTracksAndCloseCtxWhenFinished = this.cleanupWhenFinished;
      this.recorderSrvc.config.createDynamicsCompressorNode = this.addDynamicsCompressor;
      this.recorderSrvc.config.enableEchoCancellation = this.enableEchoCancellation;
      this.recorderSrvc
        .startRecording()
        .then(() => {
          this.recordingInProgress = true;
        })
        .catch(error => {
          console.error("Exception while start recording: " + error);
          alert("Exception while start recording: " + error.message);
        });
    },
    // stopRecording() {
    // },
    onNewRecording(evt) {
      console.log(evt);
      this.recordings = evt.detail.recording;
      this.$emit("record", this.recordings.blob);
    },
    deleteRecording() {
      this.recordings = null;
      this.$emit("deletRecording");
    },
    submit() {
      let formData = new FormData();
      formData.append("files[]", this.recordings.blob, "Recording");
      this.$axios
        .post(
          `${process.env.COUNTRY_CMS_LINK}/cockpit/addAssets?token=1ed9556112a43cd1893dff05936ec2`,
          formData,
          {
            headers: { "Content-Type": "multipart/form-data" },
            onUploadProgress: progressEvent => {
              let percentCompleted = Math.floor(
                (progressEvent.loaded * 100) / progressEvent.total
              );
              console.log(percentCompleted);
              // do whatever you like with the percentage complete
              // maybe dispatch an action that will update a progress bar or something
            }
          }
        )
        .then(
          uploadedFile => {
            // this.$axios
            //   .post(
            //     `/collections/save/jobs?token=1ed9556112a43cd1893dff05936ec2`,
            //     {
            //       data: {
            //         name: this.name,
            //         job: this.job.value.title,
            //         mobile: this.mobile,
            //         email: this.email,
            //         currentCompany: this.currentCompany,
            //         currentPosition: this.currentPosition,
            //         qualifications: this.qualifications,
            //         leadership_style: this.leadership_style,
            //         achievements: this.achievements,
            //         cv: `https://karma-cms.nbhood.com/storage/uploads${uploadedFile.data.assets[0].path}`
            //       }
            //     }
            //   )
            //   .then(
            //     success => {
            //       this.success = true;
            //       this.$axios.post(
            //         `/forms/submit/careers?token=1ed9556112a43cd1893dff05936ec2`,
            //         {
            //           form: {
            //             name: this.name,
            //             job: this.job.value.title,
            //             cv: `https://karma-cms.nbhood.com/storage/uploads${uploadedFile.data.assets[0].path}`
            //           }
            //         }
            //       );
            //     },
            //     error => console.log(error)
            //   );
          },
          error => console.log(error)
        );
    }
  }
};
</script>
<style lang="scss" scoped>
.relative {
  padding-bottom: 30px;
  audio {
    width: 100%;
  }
  svg {
    padding: 4px;
    height: 25px;
    // width: 25px;
    position: absolute;
    bottom: 0px;
    right: 0px;
  }
}

.upload {
  opacity: 0;
  height: 0px;
  width: 0px;
  padding: 0px;
  margin: 0px;
}
.activate {
  .upload {
    opacity: 1;
    height: auto;
    width: 60%;
    padding: 10px 0px;
    margin: 10px auto;
  }
}
.recording {
  width: 90px;
  height: 90px;
  background: red;
  box-shadow: 1px 1px 13px slategrey;
  width: 20px;
  height: 20px;
  animation: recording 2s infinite;
  transition: 0.3 ease all;
  border-radius: 50%;
  @keyframes recording {
    0% {
      opacity: 0.4;
    }

    50% {
      opacity: 0.8;
    }

    100% {
      opacity: 0.4;
    }
  }
}
</style>
