<template>
  <div id="q-app">
    <router-view />
  </div>
</template>

<script>
import vHeader from "components/layout/vHeader";

export default {
  name: "App",
  components: {
    vHeader
  },
  created() {
    // import("quasar/lang/ar").then(lang => {
    //   this.$q.lang.set(lang.default);
    // });
  }
};
</script>
