<template>
  <div id="layout">
    <router-view />
  </div>
</template>

<script>
// import store from "..";

export default {
  // beforeRouteEnter(to, from, next) {
  //   if (!store.state.auth.user) {
  //     next("/sign-up");
  //   } else {
  //     next();
  //   }
  // },
  name: "appLayout"
};
</script>
