<template>
  <div id="layout">
    <v-header></v-header>
    <router-view />
  </div>
</template>

<script>
import vHeader from "components/layout/vHeader";

export default {
  name: "MainLayout",
  components: {
    vHeader
  }
};
</script>
