<template>
  <div @click="toggle">
    <div>
      <slot name="head"></slot>
    </div>
    <div ref="body" @click="prevent($event)" class="is-accordion">
      <slot name="body"></slot>
    </div>
  </div>
</template>

<script>
export default {
  methods: {
    toggle() {
      const maxHeight = `${this.$refs.body.scrollHeight}px`;
      if (this.$refs.body.style.maxHeight) {
        this.$refs.body.style.maxHeight = null;
      } else {
        this.$refs.body.style.maxHeight = maxHeight;
      }
    },
    prevent(event) {
      event.stopPropagation();
    }
  }
};
</script>

<style></style>
