<template>
  <div class="bg-light-blue">
    <span
      class="text-white text-h2 absolute close"
      @click="$emit('closeModal')"
    >X</span>
    <div class="flex justify-center full-height">
      <div class="background-image"></div>
    </div>
    <div class="panel register_form">
      <form class="q-pb-md">
        <text-field
          class="q-mb-md"
          :placeholder="$t('form.name')"
        ></text-field>
        <div class="form-group q-pb-md">
          <input
            class="input "
            type="date"
            id="date"
            ref="date"
            required="required"
          />
          <label
            for="date"
            class="control-label"
          >{{ date }}</label><i class="bar"></i>
        </div>
        <text-field :placeholder="$t('form.relation')"></text-field>
        <p class="text-gray text-h3 q-mt-md q-mb-xs">{{ $t("form.gender") }}</p>
        <div class="flex register_form_checkbox">
          <div>
            <input
              id="male"
              :value="$t('form.male')"
              type="radio"
              class="styled-checkbox"
              v-model="sex"
            />
            <label
              class="checkbox"
              for="male"
            >
              {{ $t('form.male') }}
            </label>
          </div>
          <div>
            <input
              id="female"
              :value="$t('form.female')"
              type="radio"
              class="styled-checkbox"
              v-model="sex"
            />
            <label
              class="checkbox"
              for="female"
            >
              {{ $t('form.female') }}
            </label>
          </div>
        </div>
        <checkbox
          class="q-mt-md"
          id="insurance"
          :placeholder="$t('form.insurance')"
        />
        <button class="button button__pink">
          {{ $t("form.signUp") }}
        </button>
      </form>
    </div>
  </div>
</template>

<script>
import signIn from "components/signIn/signIn";
import textField from "components/utils/textField";
import checkbox from "components/utils/checkbox";
export default {
  name: "signUp",
  components: {
    signIn,
    checkbox,
    textField
  },
  data() {
    return {
      date: "",
      sex: ""
    };
  },
  mounted() {
    document.getElementsByTagName("body")[0].style.position = "fixed";
    this.$refs.date.defaultValue = "1990-01-01";
  },
  destroyed() {
    document.getElementsByTagName("body")[0].style.position = "static";
  }
};
</script>

<style lang="scss" scoped>
.background-image {
  background-image: url("~assets/homepage1.png");
  width: 533px;
  height: 497px;
  max-height: 50vh;
  margin-top: calc(var(--nav-height) + 10px);
}
.register_form {
  &_checkbox {
    div {
      &:nth-of-type(2) {
        margin-left: 60px;
      }
    }
  }
}
.close {
  right: 30px;
  top: 20px;
  font-weight: bold;
}
.panel {
  padding-bottom: 8vh;
  // height: calc(100vh - 406px / 1.9);
}
</style>
