<template>
  <div>
    <div
      class="is-light-gray flex align-center"
      :class="!placeholder && 'flex align-center'"
    >
      <input
        :id="`styled-checkbox-${id}`"
        :value="value"
        :type="type"
        :name="name"
        class="styled-checkbox"
      />
      <label
        :class="!placeholder && 'flex align-center'"
        :for="`styled-checkbox-${id}`"
        class="checkbox"
      >
        {{ placeholder }}
        <slot> </slot>
      </label>
    </div>
  </div>
</template>

<script>
export default {
  props: {
    id: {
      type: String
    },
    name: {
      type: String
    },
    placeholder: {
      type: String
    },
    type: {
      type: String,
      default: "checkbox"
    },
    value: {
      type: String
    }
  },
  methods: {
    // setValue(e) {
    //   const value = {
    //     checked: e.target.checked,
    //     slug: e.target.defaultValue
    //   };
    //   this.$emit("setValue", value);
    // }
  }
};
</script>

<style scoped lang="scss">
</style>
