<template>
  <div>
    <accordion>
      <template v-slot:head>
        <div
          @click="isAccordionOpen = !isAccordionOpen"
          class="rounded-panel_animated"
          :class="isAccordionOpen && 'is-open'"
        >
          <div class="flex align-center">
            <img
              :src="`${baseUrl.replace('api', '')}${image}`"
              alt=""
            />
            <div class="flex column q-ml-sm">
              <p class="text-pink doctor_font q-mb-xs">{{ name }}</p>
              <p class="text-gray text-h3 q-mb-none">{{ specialization }}</p>
            </div>
            <button class="q-ml-auto bg-pink q-my-sm">
              <span class="arrow">
                <font-awesome-icon
                  class="text-white"
                  icon="chevron-down"
                />
              </span>
            </button>
          </div>
        </div>
      </template>
      <template v-slot:body>
        <div class="rounded-panel_body bg-white">
          <div
            v-html="about"
            class="text-gray text-h3"
          ></div>
          <p class="text-gray text-h3 q-mb-sm">
            <b>License Number: {{ licence }}</b>
          </p>
          <p class="text-gray text-h3">
            <b>{{ center }}</b>
          </p>
        </div>
      </template>
    </accordion>
  </div>
</template>

<script>
import checkbox from "components/utils/checkbox";
import addFamily from "components/utils/addFamily";

export default {
  components: {
    addFamily,
    checkbox
  },
  props: {
    specialization: {
      type: String
    },
    name: {
      type: String
    },
    image: {
      type: String
    },
    center: {
      type: String
    },
    about: {
      type: String
    },
    licence: {
      type: String
    }
  },
  data() {
    return {
      isAccordionOpen: false,
      baseUrl: process.env.COUNTRY_CMS_LINK
    };
  }
};
</script>

<style scoped lang="scss">
.rounded-panel_body {
  position: relative;
  &::before {
    content: "";
    height: 5px;
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    box-shadow: 0px -5px 18px -1px;
  }
}

img {
  height: 60px;
  width: 60px;
  border-radius: 50%;
  @media screen and (max-width: 400px) {
    height: 35px;
    width: 35px;
  }
}

.doctor_font {
  @media screen and (max-width: 400px) {
    font-size: 13px;
  }
  @media screen and (max-width: 769px) {
    font-size: 15px;
  }
}
button {
  border-radius: 10px;
  padding: 10px;
  height: 40px;
  width: 40px;
  span {
    .text-white {
      font-size: 20px;
      width: 20px;
      height: 20px;
    }
  }
}
</style>
