<template>
  <div>
    <!-- <accordion>
      <template v-slot:head> -->
    <!-- @click="isAccordionOpen = !isAccordionOpen" -->
    <div
      class="rounded-panel_animated"
      :class="isAccordionOpen && 'is-open'"
    >
      <div class="flex align-center">
        <div>
          <p class="text-h4 q-mb-none text-gray">
            {{ $t("app.symptoms.help") }}
          </p>
          <p class="text-pink text-h3 q-mb-none">
            {{ $store.state.User.name }}
          </p>
        </div>
        <!-- <button class="q-ml-auto bg-pink q-my-sm">
          <span class="arrow">
            <font-awesome-icon
              class="text-white"
              icon="chevron-down"
            />
          </span>
        </button> -->
      </div>
    </div>
    <!-- </template>
      <template v-slot:body> -->
    <!-- <div class="rounded-panel_body bg-white">
      <checkbox
        v-for="i in 4"
        class="q-mb-sm"
        :key="i"
        :id="`male_${i}`"
      >
        <div class="flex column q-ml-sm">
          <span class="text-h3 text-pink">Pat Pena</span>
          <span class="text-gray text-h3">wife, 32</span>
        </div>
      </checkbox>
      <p class="text-h3 text-gray q-mt-md q-mb-sm">
        Booking for someone else in your family?
      </p> -->
    <!-- <p @click="openModal($event)" class="text-h2 text-pink">
            <span>Add family member</span>
            <font-awesome-icon class="q-ml-sm text-pink" icon="chevron-right" />
          </p> -->
    <!-- </div> -->
    <!-- </template> -->
    <!-- </accordion> -->
    <add-family
      v-if="isModalOpen"
      class="modal"
      @closeModal="closeModal"
    ></add-family>
  </div>
</template>

<script>
import checkbox from "components/utils/checkbox";
import addFamily from "components/utils/addFamily";

export default {
  components: {
    addFamily,
    checkbox
  },
  data() {
    return {
      isModalOpen: false,
      isAccordionOpen: false
    };
  },
  methods: {
    openModal(event) {
      event.stopPropagation();
      this.$emit("modalOpened");
      this.isModalOpen = true;
    },
    closeModal() {
      this.$emit("modalClosed");
      this.isModalOpen = false;
    }
  }
};
</script>

<style scoped lang="scss">
button {
  border-radius: 10px;
  padding: 10px;
  height: 40px;
  width: 40px;
  span {
    .text-white {
      font-size: 20px;
      width: 20px;
      height: 20px;
    }
  }
}
.rounded-panel_body {
  position: relative;
  &::before {
    content: "";
    height: 5px;
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    box-shadow: 0px -5px 18px -1px;
  }
}
</style>
