<template>
  <div>
    <div class="flex">
      <div
        v-for="(symptom, index) in symptoms"
        :key="index"
        v-if="index < maxSymptoms"
        class="rounded-panel_small text-gray q-mr-sm q-mb-md relative"
      >
        {{ symptom.value }}
        <input :value="symptom.value" type="checkbox" />
      </div>
      <span
        @click="expand"
        class="bg-lightblue rounded-panel_small text-gray q-mr-sm q-mb-md"
        v-if="symptoms.length > 6 && !isExpanded"
      >
        {{ $t("app.other") }}
      </span>
    </div>
  </div>
</template>

<script>
export default {
  data() {
    return {
      isExpanded: false,
      maxSymptoms: 6
    };
  },
  props: {
    symptoms: {
      type: Array,
      default: () => []
    }
  },
  methods: {
    expand() {
      this.maxSymptoms = this.symptoms.length;
      this.isExpanded = true;
    }
  }
};
</script>

<style scoped lang="scss">
input {
  position: absolute;
  top: 0px;
  right: 0px;
  width: 100%;
  height: 100%;
  bottom: 0px;
  opacity: 0;
}
.relative {
  position: relative;
}
.rounded-panel_small {
  transition: 0.3s ease all;
}
</style>
