<template>
  <div>
    <input
      class="text-input text-h3"
      type="text"
      :required="required"
      :placeholder="placeholder"
      :name="name"
    />
    <i class="bar"></i>
  </div>
</template>

<script>
export default {
  props: {
    placeholder: {
      type: String,
      default: "placeholder"
    },
    required: {
      type: Boolean,
      default: false
    },
    name: {
      type: String,
      default: "name"
    }
  }
};
</script>

<style scoped lang="scss"></style>
