<template>
  <div class="rounded-borders timeline bg-white">
    <h1 class="text-h1 text-pink">{{ $t("app.timeline.title") }}</h1>
    <div class="flex align-center q-mb-md">
      <div class="time flex column no-wrap text-center align-center bg-pink text-white">
        <span class="z-index-2 relative">2</span>
        <span class="z-index-2 relative">{{ $t("app.timeline.minutes") }}</span>
      </div>
      <p class="text h2 text-gray q-mb-none q-ml-md">
        {{ $t("app.timeline.recieved") }}
      </p>
    </div>
    <div class="flex align-center q-mb-md">
      <div
        :class="isCalled && 'active'"
        class="time progress step-2 flex column no-wrap text-center align-center text-gray"
      >
        <span class="z-index-2 relative">4</span>
        <span class="z-index-2 relative">{{ $t("app.timeline.minutes") }}</span>
      </div>
      <p class="text h2 text-gray q-mb-none q-ml-md">
        {{ $t("app.timeline.call") }}
      </p>
    </div>
    <div class="flex align-center q-mb-md">
      <div
        class="time progress flex column no-wrap text-center align-center text-gray"
        :class="[isAssigned && 'active', isCalled && 'before-active']"
      >
        <span class="z-index-2 relative">10</span>
        <span class="z-index-2 relative">{{ $t("app.timeline.minutes") }}</span>
      </div>
      <p class="text h2 text-gray q-mb-none q-ml-md">
        {{ $t("app.timeline.assign") }}
      </p>
    </div>
    <div class="flex align-center">
      <div
        class="time progress flex column no-wrap text-center align-center text-gray"
        :class="[isArrived && 'active', isAssigned && 'before-active']"
      >
        <span class="z-index-2 relative">60</span>
        <span class="z-index-2 relative">{{ $t("app.timeline.minutes") }}</span>
      </div>
      <p class="text h2 text-gray q-mb-none q-ml-md">
        {{ $t("app.timeline.arrived") }}
      </p>
      <button
        @click="$emit('request')"
        class="button button__pink"
      >{{ label || "Request" }}</button>
    </div>
  </div>
</template>

<script>
export default {
  props: {
    to: {
      type: String
    },
    label: {
      type: String
    },
    isCalled: {
      type: Boolean,
      default: false
    },
    isAssigned: {
      type: Boolean,
      default: false
    },
    isArrived: {
      type: Boolean,
      default: false
    }
  }
};
</script>

<style scoped lang="scss">
.timeline {
  padding: 10px 20px 0px 20px;
}
.time {
  width: 46px;
  height: 46px;
  border-radius: 10px;
  background-color: #eaeaea;
  position: relative;
  span {
    &:first-of-type {
      position: relative;
      top: 3px;
    }
    &:last-of-type {
      position: relative;
      bottom: 1px;
    }
  }
  &.progress {
    &::before {
      content: "";
      position: absolute;
      left: calc(50% - 3px);
      top: -16px;
      height: 17px;
      width: 5px;
      background-color: #eaeaea;
    }
    &.before-active {
      &::before {
        height: 0px;
        background-color: #eaeaea;
        position: absolute;
        left: calc(50% - 3px);
        top: -16px;
        width: 5px;
        animation: animate-line 1s forwards 2s;
      }
    }
  }
  &.step-2 {
    &::before {
      background-color: var(--pink);
    }
  }
  &.active {
    span {
      color: white;
    }
    &::after {
      content: "";
      // will-change: animation;
      position: absolute;
      top: 0px;
      left: 0px;
      bottom: 0px;
      width: 100%;
      border-top-left-radius: 10px;
      border-top-right-radius: 10px;
      animation: animate 2s forwards;
      background-color: var(--pink) !important;
    }
  }
}
@keyframes animate {
  0% {
    height: 0%;
  }
  100% {
    height: 100%;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
  }
}
@keyframes animate-line {
  0% {
    height: 0px;
    background-color: var(--pink);
  }
  100% {
    height: 17px;
    background-color: var(--pink);
  }
}
</style>
